@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: white;

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 3dvh;

        .nav-list {
            display: flex;
            gap: 4dvh;
            text-decoration: none;
            list-style-type: none;
        }

        .nav-item {
            font-family: 'DM Serif Display', serif;
            color: $darkViolet;
            cursor: pointer;
        }

        .btn {
            font-family: 'DM Serif Display', serif;
            background-color: $veryDarkViolet;
            color: white;
            width: 20dvh;
            height: 6dvh;
            cursor: pointer;
            border: none;
        }
    }
}

main {

    .container {
        background-image: url("../assets/bg-pattern-intro-right-desktop.svg");
        background-repeat: no-repeat;
        background-position: 910px 0px;
        background-color: $darkViolet;
        display: flex;
        object-fit: cover;
        flex-direction: row;

        .text-content {
            flex: 1;
            margin-top: 10dvh;
            margin-left: 10dvh;
            font-family: 'Karla', serif;
            
            .main-title {
                color: $veryLightGray;
                font-size: 4rem;
            }

            .container-paragraph {
                margin-top: 3dvh;
                color: $veryLightGray;
            }

            .btn-plans {
                margin-top: 5dvh;
                width: 20dvh;
                height: 6dvh;
                cursor: pointer;
                border: none;
                font-family: 'Karla', serif;
                font-size: 1rem;
                color: $darkViolet;
            }
        }

        .img-container {
            flex: 1;
            left: 200px;

            .fundo {
                object-fit: cover;
                position: relative;
                left: -60px;
                top: 140px;
                opacity: 0.93;
            }
        }
    }

    .image {
        position: relative;
        top: -170px;

        .intro-left {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .secondary-title {
        margin-top: -15dvh;
        margin-left: 10dvh;
        margin-bottom: 15dvh;
        font-family: 'Karla', serif;
        font-size: 3.5rem;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 5dvh;

        .card {
            gap: 1dvh;

            .card-img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }

            .card-title {
                margin-top: 4dvh;
                margin-bottom: 2dvh;
                font-family: 'Karla', sans-serif;
            }

            .card-description {
                font-family: 'Karla', sans-serif;
                color: $grayishBlue;
                margin-bottom: 10dvh;
            }
        }
    }

    .find-out {
        display: flex;
        width: 120dvh;
        height: 20dvh;
        background-color: $darkViolet;
        margin: auto;

        .find-out-title {
            flex: 1;
        }

        .btn-work {
            width: 20dvh;
            height: 5dvh;
            margin: auto;
            margin-right: 5dvh;
            border: none;
            cursor: pointer;
        }
    }
}

footer {
    
    .footer-container {
        display: flex;
        gap: 2dvh;
    }
}