@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);
$veryDarkViolet: hsl(270, 9%, 17%);
$darkGrayishViolet: hsl(273, 4%, 51%);
$veryLightGray: hsl(0, 0%, 98%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: white;

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 3dvh;

        .nav-list {
            display: flex;
            gap: 4dvh;
            text-decoration: none;
            list-style-type: none;
        }

        .nav-item {
            font-family: 'DM Serif Display', serif;
            color: $darkViolet;
            cursor: pointer;
        }

        .btn {
            font-family: 'DM Serif Display', serif;
            background-color: $veryDarkViolet;
            color: white;
            width: 20dvh;
            height: 6dvh;
            cursor: pointer;
            border: none;
        }

        #mobile_btn {
            display: none;
            background-color: transparent;
            border: none;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

    #mobile_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: white;
        position: absolute;
        top: 5rem;
        width: 100%;
        padding: 1rem;

        &.active {
            display: flex;
        }

        #mobile_nav_list {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            list-style-type: none;
            text-align: center;
        }

        .nav_item {
            font-size: 1rem;
        }
    }
}

main {

    .container {
        background-image: url("../assets/bg-pattern-intro-right-desktop.svg");
        background-repeat: no-repeat;
        background-position: 910px 0px;
        background-color: $darkViolet;
        display: flex;
        object-fit: cover;
        flex-direction: row;

        .text-content {
            flex: 1;
            margin-top: 10dvh;
            margin-left: 10dvh;
            font-family: 'Karla', serif;

            .main-title {
                color: $veryLightGray;
                font-size: 4rem;
            }

            .container-paragraph {
                margin-top: 3dvh;
                color: $veryLightGray;
            }

            .btn-plans {
                margin-top: 5dvh;
                width: 20dvh;
                height: 6dvh;
                cursor: pointer;
                border: none;
                font-family: 'Karla', serif;
                font-size: 1rem;
                color: $darkViolet;
            }
        }

        .img-container {
            flex: 1;
            left: 200px;

            .fundo {
                object-fit: cover;
                position: relative;
                left: -60px;
                top: 140px;
                opacity: 0.93;
                max-width: 100%;
                height: auto;
            }
        }
    }

    .image {
        position: relative;
        top: -170px;

        .intro-left {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    .secondary-title {
        margin-top: -15dvh;
        margin-left: 10dvh;
        margin-bottom: 15dvh;
        font-family: 'Karla', serif;
        font-size: 3.5rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 5dvh;

        .card {
            gap: 1dvh;

            .card-img {
                max-width: 100%;
                height: auto;
                object-fit: cover;
            }

            .card-title {
                margin-top: 4dvh;
                margin-bottom: 2dvh;
                font-family: 'Karla', sans-serif;
            }

            .card-description {
                font-family: 'Karla', sans-serif;
                color: $grayishBlue;
                margin-bottom: 10dvh;
            }
        }
    }

    .find-out {
        display: flex;
        width: 120dvh;
        height: 20dvh;
        background-color: $darkViolet;
        margin: auto;
        margin-bottom: 20dvh;

        .find-out-title {
            flex: 1;
            color: white;
            font-family: 'Karla', serif;
            font-size: 2rem;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 3dvh;
        }

        .intro-right {
            position: relative;
            left: 160px;
            height: 200px;
            width: 250px;
            object-fit: cover;
            opacity: 0.3;
        }

        .btn-work {
            width: 20dvh;
            height: 5dvh;
            margin: auto;
            margin-right: 5dvh;
            border: none;
            cursor: pointer;
            font-family: 'Karla', serif;
            font-size: 1rem;
        }
    }
}

footer {
    background-color: $veryLightGray;

    .footer-icons {
        display: flex;
        justify-content: space-between;
        margin-left: 10dvh;
        margin-right: 10dvh;
        border-bottom: 1px solid $darkGrayishViolet;
        padding-bottom: 5dvh;
        cursor: pointer;
    }

    .footer-container {
        display: flex;
        justify-content: space-around;
        margin-top: 5dvh;
        gap: 2dvh;

        .columns {

            h4 {
                color: $grayishBlue;
                font-family: 'Karla', serif;
                margin-bottom: 3dvh;
            }

            p {
                font-family: 'Karla', serif;
                color: $veryDarkViolet;
                margin-bottom: 1dvh;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    nav {
        display: flex !important;
    }
}

@media screen and (max-width: 1170px) {
    .nav-list {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    #mobile_btn {
        display: block !important;
    }
}

@media screen and (max-width: 600px) {
    .container {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media screen and (max-width: 600px) {
    .text-content {
        margin-top: 1dvh !important;
        margin-left: 1dvh !important;
    }
}

@media screen and (max-width: 600px) {
    .main-title {
        font-size: 3rem !important;
        text-align: center !important;
    }
}

@media screen and (max-width: 600px) {
    .container-paragraph {
        text-align: center !important;
    }
}

@media screen and (max-width: 600px) {
    .btn-plans {
        margin: auto !important;
        margin-top: 2dvh !important;
    }
}

@media screen and (max-width: 600px) {
    .grid-container {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
        margin: 1dvh !important;
    }
}

@media screen and (max-width: 600px) {
    .find-out {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        width: 100% !important;
        height: 28dvh !important;
    }
}

@media screen and (max-width: 600px) {
    .intro-right {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    .fundo {
        position: static !important;
        margin-top: 2dvh;
    }
}

@media screen and (max-width: 600px) {
    .btn-work {
        margin: auto !important;
        margin-bottom: 2dvh !important;
    }
}

@media screen and (max-width: 600px) {
    .footer-icons {
        display: flex !important;
        flex-direction: row !important;
    }
}

@media screen and (max-width: 600px) {
    .footer-container {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        justify-content: center !important;
        text-align: center !important;
    }
}